.four-0-four-image {
  display: block;
  margin: 5px auto;
  height: 600px;
  width: 600px;
}

.four-0-four-msg {
  text-align: center;
  text-transform: capitalize;
  color: #f5f5f5;
}

.four-0-four-msg a {
  color: var(--secondary-color);
}

.four-0-four-msg a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .four-0-four-image {
    height: 400px;
    width: 400px;
  }

  .four-0-four-msg a {
    text-decoration: underline;
  }
}
