* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart-section {
  width: 100%;
  height: 55vh;
  padding: 0 40px 5px;
  display: flex;
  flex-direction: row;
}

.product-list {
  width: 100%;
  padding-right: 30px;
}

.cart-header {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  background-color: #040303;
  border: 1px solid #f5f5f5;
  border-left: none;
  border-right: none;
  opacity: 0.6;
}

.cart-header-item.cart-header-info {
  width: calc(100% - 450px);
  padding-left: 20px;
}

.cart-header-item {
  padding: 12px 0;
  letter-spacing: 0.05em;
  font-family: var(--heading);
  color: #f5f5f5;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
}

.cart-header-item:not(.cart-header-info) {
  text-align: center;
  width: 144px;
  padding: 0 15px;
}

.cart-header-item.cart-header-price {
  padding-left: 130px;
}

.cart-header-item.cart-header-quantity {
  padding-left: 100px;
}

.cart {
  width: 100%;
  padding: 20px;
  /* border-radius: 5px;
  border: 1px solid #121111;
  box-shadow: 0 0 10px #121111, 0 0 20px 10px #040303; */
  margin-bottom: 35px;
}

.sm-product {
  width: 90%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 35px;
  /* margin-left: 50px; */
}

.cart .sm-product:last-child {
  margin-bottom: 0;
}

.sm-product-img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 5px;
}

.sm-text {
  width: 30%;
}

.sm-product-name {
  font-size: 17px;
  font-weight: 300;
  font-family: var(--heading);
  text-transform: capitalize;
  color: #fff;
  margin: 15px 0 10px;
}

.sm-size {
  color: #fff;
  opacity: 0.6;
  font-family: var(--heading);
}

.sm-size span {
  color: var(--secondary-color);
  font-weight: 500;
  text-transform: uppercase;
}

.item-counter {
  width: 90px;
  height: 30px;
  display: flex;
  margin-right: 20px;
}

.counter-btn,
.item-count {
  width: 30px;
  height: 30px;
}

.counter-btn {
  background: #f26700;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.item-count {
  text-align: center;
  line-height: 0;
  color: #fff;
}

.sm-price {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--heading);
  color: #fff;
}

.sm-delete-btn {
  width: 50px;
  height: 50px;
  background: #040303;
  cursor: pointer;
  border: none;
}

.sm-delete-btn i {
  color: red;
  font-size: 20px;
}

/* .checkout-section {
  display: flex;
  justify-content: flex-end;
} */

.checkout-box {
  width: 400px;
  height: auto;
  padding: 20px;
}

.text {
  font-size: 18px;
}

.sub-heading {
  color: #f5f5f5;
  font-size: 12px;
  text-align: left;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  font-family: var(--heading);
}

.sub-heading::after {
  content: "";
  background-color: #f26700;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -10px;
  left: 10%;
  transform: translateX(-10%);
}

.subtotal-bill {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
  gap: 15px 0;
}

.subtotal-bill .price,
.subtotal-bill .delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtotal-bill::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
}

.subtotal-bill .label,
.subtotal-bill__price {
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.subtotal-bill .label {
  font-size: 12px;
  font-family: var(--heading);
}

.subtotal-bill__price {
  font-size: 16px;
  font-family: var(--heading);
}

.info {
  margin-top: 20px;
  font-family: var(--text);
  font-weight: 400;
  margin-bottom: 0;
  color: #868686;
  font-size: 12px;
}

.action-buttons {
  margin-top: 30px;
}

.action-btn {
  display: block;
  width: 100%;
  border: none;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 12px 0;
  font-family: var(--heading);
  text-transform: uppercase;
}

.checkout-btn,
.shop-btn,
.buy-btn {
  background: #f26700;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.checkout-btn:hover,
.buy-btn:hover {
  background: var(--hover-secondary);
}

.checkout-btn[disabled],
.buy-btn[disabled] {
  cursor: not-allowed;
  background: transparent;
  border: 1px solid var(--secondary-color);
}

.back-btn {
  background: #fff;
  color: #040303;
}

.no-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15vh 0;
}

.no-items h1 {
  color: #fff;
  font-family: var(--heading);
  text-transform: uppercase;
  font-size: 35px;
}

.no-items .shop-btn {
  width: 500px;
  transition: all 0.3s ease-in-out;
}

.no-items .shop-btn:hover {
  background: var(--hover-secondary);
}

@media screen and (max-width: 600px) {
  .cart-section {
    flex-direction: column;
    padding: 0 5px 5px;
    align-items: center;
  }

  .cart {
    padding: 10px;
  }

  .cart-header-quantity {
    display: none;
  }

  .cart-header-item.cart-header-price {
    padding-left: 300px;
  }

  .product-list {
    padding-right: 0;
  }

  .sm-product {
    width: 100%;
  }

  .sm-delete-btn {
    height: 0;
    width: 40px;
  }

  .sm-delete-btn i {
    font-size: 15px;
  }

  .sm-product-img {
    height: 45px;
    width: 45px;
  }

  .sm-product-name {
    font-size: 12px;
  }

  .item-counter {
    width: 80px;
    height: 40px;
    margin-right: 10px;
  }

  .sm-price {
    font-size: 15px;
  }

  .no-items {
    margin: 20vh 0;
  }

  .no-items h1 {
    font-size: 25px;
  }

  .no-items .shop-btn {
    width: 300px;
  }
}
