.toast-alert {
  position: fixed;
  top: 25px;
  right: 30px;
  pointer-events: none;
  border-radius: 12px;
  background: #f5f5f5;
  padding: 15px 35px 15px 25px;
  border-left: 6px solid var(--secondary-color);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.checkout-alert {
  z-index: 1000;
}

.toast-alert.active {
  pointer-events: all;
  transform: translateX(0);
}

.toast-alert .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .exclamation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 20px;
  font-weight: 400;
  color: #868383;
  font-family: var(--text);
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
  font-family: var(--heading);
}

.message .text.text-2 {
  text-transform: capitalize;
  font-family: var(--text);
}

.toast-alert .close {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 15px;
  padding: 5px;
  color: #333;
  cursor: pointer;
  opacity: 0.7;
}

.toast-alert .close:hover {
  opacity: 1;
}

.toast-alert .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}

.toast-alert .progress::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
}

.progress.active::before {
  animation: progress 3s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.form {
  width: 100%;
  padding: 20px 5vw;
  margin-bottom: 4%;
}

.address-title {
  font-size: 18px;
  font-family: var(--heading);
  color: #fff;
}

.form input {
  background: #f5f5f5 !important;
  width: 100% !important;
  display: block;
  height: 40px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 20px 0;
  color: #383838;
  font-size: 14px;
  font-family: var(--text);
}

.form input::placeholder {
  text-transform: capitalize;
}

.three-input-container {
  display: flex;
  justify-content: space-between;
}

.three-input-container input {
  margin: 0 !important;
}

#deliveryZone {
  margin: 0 20px !important;
}

#deliveryDropdown {
  padding: 5px 10px;
  text-align: left;
  font-size: 14px;
  text-transform: capitalize;
  background: var(--secondary-color);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--text);
}

.heading {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0 30px;
  font-family: var(--heading);
  padding-left: 40px;
  position: relative;
  color: #ffffff;
}

.heading::after {
  content: "";
  background-color: #f26700;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -10px;
  left: 5%;
  transform: translateX(-10%);
}

.checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  margin-top: 40px;
}

.checkbox:checked {
  /* background: var(--secondary-color); */
  background: #f26700;
  border: none;
}

.checkbox::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
  pointer-events: none;
  background-image: url(../../images/check.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.checkbox:checked::after {
  display: block;
}

.checkbox-label {
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin-left: 5px;
  color: #f5f5f5;
  font-family: var(--text);
}

.checkbox-label a {
  color: #f26700;
  text-decoration: underline;
}

/* Delivery zones */
.zones,
.policies {
  margin-bottom: 2%;
}

.zones .zones-container {
  max-width: 1320px;
  /* padding-left: 40px; */
  margin: 0 auto;
}

.zones .title .text {
  font-family: var(--text);
  color: #919191;
}

.zones .row {
  margin-top: 2rem;
}

.zones-item,
.policies-item {
  margin: 0.6rem 0;
}

.zones-head,
.policies-head {
  background: #f26700;
  color: #fff;
  font-family: var(--heading);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem 1.8rem;
  border-radius: 5px;
}

.policies-head {
  background: transparent;
  padding: 1rem 0rem;
}

.zones-head h3 {
  font-weight: 300;
  opacity: 0.8;
  font-size: 15px;
}

.zones-content,
.policies-content {
  background: #fff;
  font-family: var(--text);
  font-size: 17px;
  color: #040303;
  overflow: hidden;
  height: 0;
  padding: 0 1.8rem;
  transition: all 0.5s ease-in-out;
}

.policies-content {
  background: transparent;
  color: #fff;
}

.policies-content a {
  color: var(--secondary-color);
}

.zones-content ul li {
  font-size: 17px;
  font-family: var(--text);
  letter-spacing: 0.02em;
  color: #040303;
  list-style-type: square;
  font-weight: 300;
}

.show-zones-content {
  height: auto;
  padding: 0.6rem 1.8rem;
}

.show-policies-content {
  height: auto;
  padding: 0.6rem 0rem;
}

@media screen and (max-width: 600px) {
  .checkout-alert {
    padding: 15px 20px;
  }

  .checkout-alert .message .text {
    font-size: 15px;
  }

  .form {
    margin-bottom: 6%;
  }

  .form input::placeholder {
    font-size: 11px;
  }

  .heading {
    font-size: 18px;
    padding-left: 20px;
  }

  .heading::after {
    width: 80px;
    left: 8%;
  }

  .zones .zones-container {
    padding: 0 2rem;
  }

  .zones-head {
    padding: 1rem 1.2rem;
  }

  .zones-content {
    font-size: 15px;
  }
}
